form.mvml_edit div.mvml {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 300px;
  right: 0px;
}
form.mvml_edit div.data {
  float: left;
  width: 300px;
}

form.mvml_edit div.data p.name {
  font-size: 1.2em;
}
form.mvml_edit div.data p.revision {
  color: #777;
  font-size: 0.75em;
}
form.mvml_edit div.data input[type='submit'] {
  padding: 25px 100px;
}
form.mvml_edit div.mvml textarea.mvml {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 10px;

  resize: none;
  overflow-y: auto;
  white-space: pre-wrap;

  font: normal 12px Monaco, 'Courier New', monospace;
  line-height: 18px;
  color: #3a3b3c;
}

