<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{&scripts_path}}/../../css/mvml.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
    <script src="{{&scripts_path}}/physijs/physi.js"></script>
    <script src="{{&scripts_path}}/three/helpers/Detector.js"></script>
    <script src="{{&scripts_path}}/three/helpers/KeyboardState.js"></script>
    <script src="{{&scripts_path}}/three/loaders/OBJLoader.js"></script>
    <script src="{{&scripts_path}}/three/CharacterController.js"></script>
    <script src="{{&scripts_path}}/three/InputEvents.js"></script>
    <script src="{{&scripts_path}}/three/CollisionCommander.js"></script>
    <script src="{{&scripts_path}}/three/FetchBlob.js"></script>
    {{#embed}}
    {{#js}}
    <script src="{{&js}}"></script>
    {{/js}}
    {{#css}}
    <link rel="stylesheet" type="text/css" href="{{&css}}">
    {{/css}}
    {{#script}}
    <script>{{ script }}</script>
    {{/script}}
    {{#style}}
    <style>{{ style }}</style>
    {{/style}}
    {{/embed}}
  </head>

  <body>
    {{#embed}}
    {{#html}}
    {{&html}}
    {{/html}}
    {{/embed}}

    <div id='pan-icon'>
      <img src='{{&scripts_path}}/../../img/pan-icon.png'>
    </div>
    
    <!--<div id="info"><br/>{{ motd }}<br/><br/>
    Desktop: <b>WASD</b> move, <b>mouse|arrow</b> pan<br/>
    Touch: <b>1 finger</b> pan, <b>2</b> forward, <b>3</b> backward<br/>
    </div>-->

    <script>
      var worker_blob = get_blob('{{&scripts_path}}/physijs/worker.js');
      var ammo_blob = get_blob('{{&scripts_path}}/physijs/ammo.js');
      Physijs.scripts.worker = URL.createObjectURL(worker_blob);
      Physijs.scripts.ammo = URL.createObjectURL(ammo_blob);

      var container;
      var camera, controls, scene, renderer, projector;
      var models = [];
      var player_mesh;
      var keyboard = new THREEx.KeyboardState();

      var SCREEN_WIDTH = window.innerWidth;
      var SCREEN_HEIGHT = window.innerHeight;
      var SCREEN_ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT;

      var clock = new THREE.Clock();

      init();
      next_frame();

      function init() {
        // CONTAINER
        container = document.createElement( 'div' );
        document.body.appendChild( container );

        // PROJECTOR
        projector = new THREE.Projector();

        // SCENE
        var geometry, material, materials;
        scene = new Physijs.Scene({
          reportsize: {{ scene_count }}
        });
        MVML.scene = scene;
        scene.setGravity(new THREE.Vector3(0, -{{ player.gravity }}, 0));

        // CAMERA
        var player_height = 5;
        var player_width = player_height/2.0;
        var fov = 45;
        var aspect = SCREEN_WIDTH/SCREEN_HEIGHT;
        var near = 0.1;
        var far = 20000;
        camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
        scene.add(camera);

        {{#skybox}}
        // SKYBOX
        geometry = new THREE.BoxGeometry( 10000, 10000, 10000 );
        material = new THREE.MeshBasicMaterial({
          {{#texture}}
          map: THREE.ImageUtils.loadTexture('{{&texture}}'),
          {{/texture}}
          {{#color}}
          color: {{&color}},
          {{/color}}
          side: THREE.BackSide
        });
        var sky_box = new THREE.Mesh( geometry, material );
        scene.add(sky_box);
        {{/skybox}}

        // SCENE
        var manager = new THREE.LoadingManager();
        var loader = new THREE.OBJLoader( manager );
        {{#models}}

        // > {{&geometry}}
        {{^mesh}}
        geometry = new THREE.{{ geometry }};
        {{/mesh}}
        {{#mesh}}
        loader.load('{{&geometry}}', function (geometry) {
          if (!geometry.computeBoundingBox) {
            geometry = geometry.children[0].geometry;
          }
        {{/mesh}}
        material = new THREE.MeshPhongMaterial({
          {{#texture}}
          map: THREE.ImageUtils.loadTexture('{{&texture}}'),
          {{/texture}}
          {{#color}}
          color: {{&color}},
          ambient: {{&color}},
          {{/color}}
          shininess: {{ shininess }},
          specular: {{&specular}},
          emissive: {{&emissive}}
        });
        {{#physics}}
        obj = new Physijs.{{ bounding }}(geometry,material,{{ mass }});
        {{/physics}}
        {{^physics}}
        obj = new THREE.Mesh(geometry,material);
        {{/physics}}
        {{#name}}
        obj.name = '{{ name }}';
        {{/name}}
        obj.position.set{{ position }};
        obj.rotation.set{{ rotation }};
        obj.scale.set{{ scale }};
        {{#on}}
        {{#click}}
        obj.addEventListener( 'click', function() {
          {{&click}}
        });
        {{/click}}
        {{#bump}}
        obj.addEventListener( 'collision', function( other_object, relative_velocity, relative_rotation, contact_normal ) {
          {{&bump}}
        });
        {{/bump}}
        {{/on}}
        scene.add(obj);
        models.push(obj);
        {{#mesh}}
        });
        {{/mesh}}
        {{/models}}

        // LIGHTING
        var light;
        {{#lights}}
        
        light = new THREE.{{ light_type }}( {{&color}} );
        light.intensity = {{ intensity }};
        light.distance = {{ distance }};
        light.position.set{{ position }};
        scene.add(light);
        {{/lights}}
        
        // PLAYER
        geometry = new THREE.CylinderGeometry(player_width, player_width, player_height*1.2, 12, 5);
        material = new THREE.MeshBasicMaterial({ color: 0xff0000, wireframe:true });
        player_mesh = new Physijs.CapsuleMesh(geometry, material, 100);
        player_mesh.position.set{{ player.start }};
        player_mesh.position.y += player_height/2.0;
        player_mesh.visible = false;
        scene.add(player_mesh);
        player_mesh.setDamping(0.9,0.9);
        /*var floorTexture = new THREE.ImageUtils.loadTexture( 'images/checkerboard.jpg' );
        floorTexture.wrapS = floorTexture.wrapT = THREE.RepeatWrapping;
        floorTexture.repeat.set( 10, 10 );
        var floorMaterial = new THREE.MeshBasicMaterial( { map: floorTexture, side: THREE.DoubleSide } );*/

        // RENDERER
        if ( Detector.webgl ) {
          renderer = new THREE.WebGLRenderer( {antialias:true} );
        }
        else {
          renderer = new THREE.CanvasRenderer();
        }
        renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
        container.appendChild( renderer.domElement );

        // CONTROLS
        character = new THREE.CharacterController( camera, player_mesh );
        character.height = player_height/2.0;
        character.movementSpeed = {{ player.move_speed }};
        character.rollSpeed = {{ player.turn_speed }};
        character.dragToLook = true;
        character.minJumpSpeed = {{ player.min_jump_speed }};
        character.maxJumpSpeed = {{ player.max_jump_speed }};
        input = new THREE.InputEvents( character, {
          pan_icon: document.getElementById('pan-icon')
        });

        // EVENTS
        //THREEx.FullScreen.bindKey({ charCode : 'm'.charCodeAt(0) });
        window.addEventListener( 'resize', onWindowResize, false );
        document.addEventListener( 'mousedown', onDocumentMouseDown, false );
      };

      function onWindowResize( event ) {
        SCREEN_HEIGHT = window.innerHeight;
        SCREEN_WIDTH  = window.innerWidth;

        renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );

        camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
        camera.updateProjectionMatrix();
      };
      
      function onDocumentMouseDown( event ) {
        event.preventDefault();

        var vector = new THREE.Vector3( ( event.clientX / window.innerWidth ) * 2 - 1, - ( event.clientY / window.innerHeight ) * 2 + 1, 0.5 );
        projector.unprojectVector( vector, camera );

        var raycaster = new THREE.Raycaster( camera.position, vector.sub( camera.position ).normalize() );
        var intersects = raycaster.intersectObjects( models );
        if ( intersects.length > 0 ) {
          intersects[0].object.dispatchEvent('click');
        }
      }

      function next_frame() {
        requestAnimationFrame( next_frame );
        renderer.render( scene, camera );
        character.update( clock.getDelta() );
        MVML.hook.trigger('render', clock.getDelta());
        scene.simulate();
      };

      /*function input() {
        controls.moveState.forward = keyboard.pressed("w");
        controls.moveState.back = keyboard.pressed("s");
        controls.moveState.left = keyboard.pressed("a");
        controls.moveState.right = keyboard.pressed("d");

        controls.moveState.pitchUp = keyboard.pressed("up");
        controls.moveState.pitchDown = keyboard.pressed("down");
        controls.moveState.yawLeft = keyboard.pressed("left");
        controls.moveState.yawRight = keyboard.pressed("right");

        controls.updateMovementVector();
        controls.updateRotationVector();

        //case 82: controls.moveState.up = 1; break; //R
        //case 70: controls.moveState.down = 1; break; //F
        //controls.movementSpeedMultiplier = .1;
        //case 81: controls.moveState.rollLeft = 1; break; //Q
        //case 69: controls.moveState.rollRight = 1; break; //E
      }*/
