body {
  background:#000;
  color: #eee;
  padding:0;
  margin:0;
  font-weight:bold;
  overflow:hidden;

  font-family:Monospace;
  font-size:13px;
  text-align:center;
}

#info {
  position: absolute;
  top: 0px; width: 100%;
  padding: 5px;
  z-index:100;
}

a { color: #0080ff; }

b { color:orange }
